---
layout: default
---

<div class="home">

	{% if site.theme_settings.header_text %}
	<div class="call-out">
		<div class="call-out-content">
			{{ site.theme_settings.header_text }}

			<div class="social">
				{% include icons.html %}
			</div>
		</div>
	</div>
	{% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
    
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h1>
        
        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>
    </div>
    {% endfor %}
  </div>
</div>
