%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

body {
	padding-top: 80px;
}

.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  z-index: 99;

  height: 80px;

  position: fixed;
  top: 0;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
  
  a {
    color: $header-link-color;
  }

  .branding {
	  @extend %vertical-align;
  }
  
  .avatar {
	  @extend %vertical-align;
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }
  
  .site-title {
	  @extend %vertical-align;
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  @media(max-width: 1024px) {
	  .site-title {
		  display: none;
	  }
  }

  .site-nav {
	  @extend %vertical-align;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
	  @extend %vertical-align;
      display: inline;
      float: left;
      margin-left: 0.8em;
    }
  }
}
